registry=https://registry.npmjs.org/
save-exact=true

engine-strict = true
frozen-lockfile = true
save-prefix =

public-hoist-pattern[] =
prefer-workspace-packages = true

store-dir = ${HOME}/.pnpm-gravity-monorepo/pnpm-store
state-dir = ${HOME}/.pnpm-gravity-monorepo/pnpm-state
cache-dir = ${HOME}/.pnpm-gravity-monorepo/pnpm-cache
virtual-store-dir = ${HOME}/.pnpm-gravity-monorepo/pnpm-virtual-store
